# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Environment variables / secrets
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# NCNN artifacts, если используем только .tflite
models_store/**/best_ncnn_model/
models_store/**/best_ncnn_model.zip
test_*.tflite
test_ngrok_*.tflite